/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
 *{
  font-family: 'Poppins', sans-serif;
}

nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 60px;
    flex-direction: row;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color:pink
  }

  .rightElement{
  }
  .leftElement{
  }
  .menuContainer{
    display:flex;
    column-gap: 20vw;
  }


.container-fluid{
    background-image: url(https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mainFooter {
    background-color: #000;
    height: 30vh;
}

.headerContent{
    background-color: #000;
}

.userContent {
    background-color: #000;
    border-radius: 2rem;
}
/*Desktop header*/
@media only screen and (min-width: 901px)  {

    .mobile-container {
    display: none;
      }

}
/* Mobil Header */
@media only screen and (max-width: 900px)  {
    .desktopNav {
        display:none;
    }
    .mobile-container {
        margin: auto;
        background-color: #555;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        color: black;
      }
      
      .active {
        color: white;
      }
      .logo {
        height: 35px;
        width: auto;
      }
}

/* Home page posts*/

.hpContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  padding: 1rem;
  gap: 10px;
  height:fit-content;
}

.postCard {
  
}

.cardContent {
  background-color: #000;
  padding: 16px;
  height:fit-content;

}

.postImg {
  max-height:50vh;
}

.postBtn {
  background-color: pink;
  color: white;
  font-size: 12px;
  padding: 14px 14px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}


/* Icons */
.fa-solid , .fa-brands{
  color: #fff;
  font-size: 20px;
  padding-left:5px ;
}