<div class="hpContainer">
   <div class="postCard">
         <%= image_tag "outdoor-pink-shoes.jpg",class: 'postImg'%>
        <div class="cardContent">
            <h2 class="text-center text-white p-2"> here a title</h2>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>
    <div class="postCard">
         <%= image_tag "outdoor-pink-shoes",class: 'postImg'%>
        <div class="cardContent">
            <h2 class="text-center text-white p-2"> here a title</h2>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>
    <div class="postCard">
         <%= image_tag "outdoor-pink-shoes",class: 'postImg'%>
        <div class="cardContent">
            <h2 class="text-center text-white p-2"> here a title</h2>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>

</div>