<section class="mainFooter">
    <div class="container">
        <div class="row p-5">
            <div class="col-md-4 col-sm-12">
                <h4 class="text-white">FASHION</h4>
                <span class="text-white">The Label</span>
            </div>
            <div class="col-md-4 col-sm-12">
                <h6>Shop The Look</h6>
                 <ul>
                    <li>High Heels</li>
                    <li>Sandals</li>
                    <li>Shoes</li>
                    <li>Bling Bags</li>
                 </ul>
            </div>
            <div class="col-md-4 col-sm-12">
            <h6>Latest Styles</h6>
                 <ul>
                    <li>High Heels</li>
                    <li>Sandals</li>
                    <li>Shoes</li>
                    <li>Bling Bags</li>
                 </ul>
            </div>
        </div>    
    </div>

</section>