<section class="mainFooter" style="min-height:400px; max-height:550px">
    <div class="container">
        <div class="row p-5">
            <div class="col-md-4 col-sm-12">
                <h4 class="text-white">FASHION</h4>
                <span class="text-white">The Label</span>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5 class="text-white">Shop The Look</h5>
                    <span class="text-white">High Heels</span><br/>
                    <span class="text-white">Sandals</span><br/>
                    <span class="text-white">Shoes</span><br/>
                    <span class="text-white">Bling Bags</span>
            </div>
            <div class="col-md-4 col-sm-12">
            <h5 class="text-white">Latest Styles</h5>
                  <a href="/"><span class="text-white">High Heels</span></a><br/>
                    <span class="text-white">Sandals</span><br/>
                    <span class="text-white">Shoes</span><br/>
                    <span class="text-white">Bling Bags</span>
            </div>
        </div>    
    </div>

</section>