
<nav class="desktopNav">
  <div class="menuContainer">
    <div class="d-flex justify-content-start rightElement">
      <ul>
          <li><a href="#home">About</a></li>
      </ul>
    </div>
    <div class="d-flex justify-content-center centerElement">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Latest Posts</a></li>
        <li><a href="/">Shop The Look </a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Contact Us</a></li>
      </ul>
    </div>
    <div class="d-flex justify-content-end leftElement">
    <ul>
        <li><a href="#home"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#home"><i class="fa-brands fa-tiktok"></i></a></li>
    </ul>
    </div>
    <%
=begin%>
 <div class="d-flex justify-content-center">
      <%= image_tag "Cropped-logo.jpg", class:'logo' %>
    </div> 
<%
=end%>
  </div>
  
</nav>