<a href="https://www.whitenoisethelabel.com/collections/all" class="jumbotron augustBanner">
<h1 class="bannerTitle">FASHION The Label</h1>

    <a class="augustBtn" href="https://www.whitenoisethelabel.com/collections/all" role="button">SHOP NOW</a>
</a>