 <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0606/5753/3079/files/allproducts-cropped.jpg?v=1659959429" />
          <div class="herocontent">
          <h2 class="herotitle">FIND YOUR STYLE</h2>
            <a class="herobtn" href="https://whitenoisethelabel.com"> Check here </a>
          </div>
        </div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0606/5753/3079/files/All-Shoes-banner.jpg?v=1656944375" /></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0606/5753/3079/files/1920x800-WNTL.png?v=1655389997" /></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>