 <nav class="navbar">
     <!-- LOGO -->
     <a href="/" class="logo">FASHION</a>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
        <% if user_signed_in? %>
       <li><%= link_to "New Post" ,new_post_path%></li>
       <li><a href="/posts" class="contactbtn">My Posts</a></li>
       <li><%= link_to "Sign Out", destroy_user_session_path, class:'logout', 'data-turbo-method': :delete%></li>
          <%else%>
         <li><a href="/contact">Latest Posts</a></li>
         <li><a href="/about">About us</a></li>
         <li class="services">
           <a href="/shop-the-look">Shop the look</a>
         </li>
         <li><a href="/contact">Contact</a></li>
              <li><a href="/login" class="contactbtn">Join Us</a></li>
       </div>
     </ul>
<%end%>
   </nav>
