 <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">FASHION</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="/">Latest Posts</a></li>
         <li><a href="/">About us</a></li>
         <li class="services">
           <a href="/">Shop the look</a>
         </li>
         <li><a href="/">Contact</a></li>
     <li><a href="/" class="contactbtn">Join Us</a></li>
       </div>
     </ul>
   </nav>